<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Welcome to kitchensink</h1>

    <h3>Register a New Member</h3>
    <form action="#" th:action="@{/register}" th:object="${member}" method="post">
        <div >
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
        </div>
        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" th:field="*{phoneNumber}"  />
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></span>
        </div>
        <div> </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>

    <!-- Data Table for Displaying Members -->
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>REST URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.phoneNumber}"></td>
            <td>
                <a th:href="@{/members/{id}(id=${member.id})}" th:text="${member.id}"></a>
            </td>
        </tr>
        <tr>
            <td>
                REST URL for all members: <a th:href="@{/list}"> rest/members </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
